@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Website!";
}

<h1>Belen Garcia</h1>
<!--Picture of me in Bolvia, my home-->
<img src="img/IMG_7335jjj.jpg" width="400" height="520" />
<br />
<!--paragraph of what are my expectation of this class-->
<p>
    I am very exited for this new semester and for taking IS 413.
    I like programming and I know that learning C# and ASP.NET,
</p>
<p>
    will improved my skills portafolio and
    also help me to succeed at future Jobs. I hope to learn as much as I can and prove myself, I can do anything.
</p>
<!--List of 3 top jobs-->
<p>Top 3 jobs, I am most interested in pursuing: </p>
<ol>
    <li>Sofware Engineer</li>
    <li>Sofware Developer</li>
    <li>Data Scientist</li>
</ol>



